body.mw-account_base {
  h1{
    @include adjust-font-size-to($h1_size);
    @extend .mw_h1;
  }

  h2{
    @include adjust-font-size-to($h2_size);
    @extend .mw_h2;
    padding: 0;
  }

  h3 {
    @include adjust-font-size-to($h3_size);
  }
 
  strong {
    font-weight: bold;
  }

  #PageContent_3 {
    >p {
      @include leader(1);
    }
  }
  
  .mw-breadcrumb {
    *:not(.mw-account_btn){
      display: inline-block;
      padding-left: 5px; 
      color: $gray1;
    }

    div.breadcrumb {
      font-weight: bold;
    }
    .mw-account_btn {
      float:right;
      margin-right: 10px;
      padding: 0;
      span {
        color: white;
        padding: 0 5px;
      }
    }
    @include adjust-font-size-to(12px);
    @include padding-leader(.25);
    @include padding-trailer(.25);

    border-bottom: 1px solid $gray1;
  }

  .mw-cust_serve {
    .header {
      text-align: center;
      margin: 10px;
      margin-bottom: 0px;
      > h2 {
        @include bar_browsearrows;

        > div.mw-arrow {
          top: -22px !important;
          right: 10px !important;
        }
      } 
    }
    .navLinks {
      > li > a {
        margin: 0 10px;
        @extend .mw_bar1;
        @include bar_chevron;
      }
    }
    @include trailer(1);
  }
    
  input[type='text'], input[type='password'], input[role='textbox'], select, textarea {
    @include singlecolumn_input;
  }
  
  .accountMain {
    margin: 0 10px;
    
    .mw-heading {
      @include adjust-font-size-to($h1_size);
      color: green;
    }



    label {
      @include label;

      em {
        color: $red1;
      }
    }

    .viewItem {
      display: none;
    }
  }

  .mw_btn3, .mw_btn4 {
    padding: 10px;
  }

  .mw-trailer {
    @include leader(1);
    @include trailer(1);
  }
}
