.mw-header {
  padding: 10px 10px 0 10px;

  .mw-top_header {
    text-align: center;
    height: 20px;
    
    .mw-phone_number {
      display: inline-block; 
      float: left;
      font-weight: bold;

      .icons-phone {
      
      }

      a {
        color: $gray2; 
      } 
    }

    .mw-basket {
      display: inline-block; 
      float: right;
      font-weight: bold;

      .icons-basket {
      
      }

      span {
        color: $gray2; 
      } 
    }
  }

  .mw-find_a_store {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    @extend .mw_btn1;

    .mw-find_label {
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing:0.1em;
      color: #666;
      position: relative;
      
      &::before {
        @extend .icons-pin;
        content: '';
        position: absolute;
        top: -2px;
        left: -18px;
      }
    }
   
  }

  // Search Box
  .mw-search_box {
    @include box2;
    margin-bottom: 10px;

    form {
      height: 30px; 
      
        &::before {
          @extend .icons-search;
          content: '';
          position: absolute;
          top: 7px;
          left: 7px;
        }
    }

    #header-search-bar {
      width: 100%;

      input {
        display: block;
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 7px;
        padding-right: 50px; // Padding for go button
        padding-left: 25px; // Padding for search icon
        color: $gray2;
      }
    }
    
    // GO
    #search-go {
      input[type='submit'] {
        @extend .mw_btn1; 
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        margin: 0; 
        font-weight: bold;
        height: 100%;

        text-transform: uppercase;
        color: #666;
      }
    }
  }

  // Browse The Store
  .mw-browse {
    .mw-browse_button {
      @include bar_browsearrows; 
    }
    .mw-browse_contents {
    
      a {
        @extend .mw_bar1;
        @include bar_chevron;
        margin: 0 -10px; 
      }
    } 
  }
}